In [1]:
#This practice for data types in Pythone

In [4]:
#Integer Type
#in the below line of code we decleared a variable "int_number" and gave it value of 5
#the type of the number by deafult became integer 
#if we change the value with diffrent type the variable type will change too 
int_number = 5 
#the below line of code decleared a variable "number" and it has intger value we cant change it 
int number = 5

In [5]:
#Float type 
# in the below line of code we declear a variable name "float_number" and gave it float value 10.5
float_number = 10.5
#We can declear a float variable that can only contain float value 
float real_number = 10.5

In [13]:
# String type
#in the below line of code we decleared variable and gave it a string value 
name = "Ahmed"
full_name = "Ahmed Rashad Adly"
#string allow you to work with data text it has index and you can apply some function on it 
#the below code show you how to use indexing with string 
#you can see that the first litter has 0 index 
name[0]

'A'

In [12]:
#if we want to know the length of the string we can use the function len(name of the string variable)
len(name)

5

In [14]:
# we can show or print a part of our string by using slicing 
full_name[0:3]

'Ahm'

In [15]:
#we can also print a sequance litters from our string 
full_name[::2]

'AmdRsa dy'

In [17]:
#.format function 
#it's function can replace {} to astring value EX below 
print ("Hello {} ".format(full_name))

Hello Ahmed Rashad Adly

In [18]:
#Lower methode this method will convert any upper case litters to lower case Ex below
full_name.lower()

'ahmed rashad adly'

In [19]:
#upper() methode will convert all lower case litter to upper case 
full_name.upper()

'AHMED RASHAD ADLY'

In [24]:
#The string method .strip() can be used to remove characters from the beginning and end of a string.
#EX. below
full_name.strip("A")

'hmed Rashad Adly'

In [25]:
# there are a lot of function or methods you can use with String 
#just search for pythone string methods 
print("It's amazing to learn data scince wich me the beast")

It's amazing to learn data scince wich me the beast